.rooverlay-enabled {
  overflow: hidden;
}
.rooverlay-hide {
  display: none;
}
.rooverlay-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
}
.rooverlay-skin-light .rooverlay-overlay {
  background-color: #ccc;
}
.rooverlay-type-image.rooverlay-wrapper,
.rooverlay-type-iframe-video.rooverlay-wrapper {
  color: #f2f2f2;
}
.rooverlay-type-image.rooverlay-wrapper.rooverlay-skin-light
.rooverlay-type-iframe-video.rooverlay-wrapper.rooverlay-skin-light {
  color: #333;
}
.rooverlay-wrapper.rooverlay-skin-light .rooverlay-description {
  background-color: rgba(0, 0, 0, 0.6);
}

.rooverlay-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 8000;
  left: 0;
  top: 0;
}
.rooverlay-loader {
  position: absolute;
  height: 64px;
  width: 64px;
  margin-left: -32px;
  margin-top: -32px;
  left: 50%;
  top: 50%;
  box-sizing: content-box; // some pages have padding-box as default on every element
}
.rooverlay-content {
  position: absolute;
}
.rooverlay-type-iframe .rooverlay-content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.rooverlay-content iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block
}
.rooverlay-type-iframe .rooverlay-content iframe {
  background-color: #fff;
}
.rooverlay-content .rooverlay-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.rooverlay-wrapper .rooverlay-pagination,
.rooverlay-wrapper .rooverlay-title {
  padding: 1em 0;
}
.rooverlay-wrapper .rooverlay-pagination {
  padding-left: 1em;
}
.rooverlay-wrapper .rooverlay-title {
  text-align: center;
  font-size: 1.4em;
  padding-top: 0.5em;
  padding-right: 0.5em;
}
.rooverlay-wrapper .rooverlay-right,
.rooverlay-wrapper .rooverlay-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 100%;
}
.rooverlay-wrapper .rooverlay-top-left {
  position: absolute;
}
.rooverlay-wrapper .rooverlay-top-right {
  float: right;
}
.rooverlay-wrapper .rooverlay-right {
  left: auto;
  right: 0;
}
.rooverlay-wrapper .rooverlay-top {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
}
.rooverlay-wrapper .rooverlay-close,
.rooverlay-wrapper .rooverlay-content-close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.rooverlay-wrapper .rooverlay-close,
.rooverlay-wrapper .rooverlay-right,
.rooverlay-wrapper .rooverlay-left {
  opacity: 0.6;
}
.rooverlay-wrapper .rooverlay-close:hover,
.rooverlay-wrapper .rooverlay-right:hover,
.rooverlay-wrapper .rooverlay-left:hover {
  opacity: 1;
}
.rooverlay-wrapper .rooverlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
.rooverlay-wrapper .rooverlay-description {
  padding: 1em;
  color: #f2f2f2;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.4);
}
.rooverlay-wrapper.rooverlay-type-image .rooverlay-description {
  display: none;
}
.rooverlay-wrapper.rooverlay-type-image .rooverlay-content:hover .rooverlay-description {
  display: block;
}
.rooverlay-wrapper.rooverlay-type-image .rooverlay-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.rooverlay-wrapper.rooverlay-type-iframe-video .rooverlay-content {
  background-color: black;
}
.rooverlay-wrapper .rooverlay-missing {
  font-size: 3em;
  text-align: center;
  color: #999;
}

@media (max-width: 600px), (max-height: 700px) {
  .rooverlay-wrapper .rooverlay-content .rooverlay-description {
    display: none !important;
  }
}

/*
.rooverlay-overlay  {
  z-index: 15;
}
.rooverlay-loader  {
  z-index: 15;
}
.rooverlay-content  {
  z-index: 17;
}
*/
